<div class="card bg-base-100 shadow-xl">
  <app-mini-map [lngLat]="house().lngLat" [zoom]="15" />
  <div class="card-body">
    <h2 class="card-title">
      {{house().name}}
      @if (newHouse()) {
        <div class="badge badge-secondary">Nuevo</div>
      }
    </h2>
    <p>{{house().description}}</p>
    <div class="card-actions justify-end">
      @for (tag of house().tags; track $index) {
      <div class="badge badge-outline badge-accent">{{tag}}</div>
      }
    </div>
  </div>
</div>
