<div class="w-screen h-[60vh] md:h-[calc(100vh-64px)]" #map></div>

<section
  class="md:fixed flex flex-col gap-2 md:w-[250px] bg-white bottom-6 right-5 p-2.5 border border-[#e2e8f0] rounded-md z-[9999] overflow-y-scroll"
  style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);"
>
  <h2 class="text-2xl font-bold text-black">
    Zoom
    <small class="text-gray-500 font-normal">{{zoom() | number: '1.0-0'}}</small>
  </h2>
  <input
    type="range"
    min="1"
    max="19"
    [value]="zoom()"
    class="range range-secondary"
    (input)="zoom.set(+txtZoom.value)"
    #txtZoom
  />

  <h2 class="text-2xl font-bold text-black">
    Coordenadas
  </h2>
  <pre class="text-sm text-gray-500 font-normal"
  >{{
    {
      latitud: coordinates().lat | number: '1.4-4',
      longitud: coordinates().lng | number: '1.4-4',
    } | json
  }}
  </pre>
</section>
